In [1]:
import pandas as pd

df = pd.read_csv('data1.csv')

In [201]:
df['profit'] = df['revenue'] - df['budget']
for i in range(len(df['release_year'])):
    mass = [j for j in df['release_year'][i] if j.isdigit()]
    df['release_year'][i] = int(''.join(mass))
df

C:\Users\Дима\AppData\Local\Temp/ipykernel_4436/3860382782.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_year'][i] = int(''.join(mass))

,runtime,release_date,imdb_id,original_title,genres,vote_average,budget,cast,production_companies,release_year,revenue,director,profit
0,124,6/9/2015,0369610,Jurassic World,Action|Adventure|Science Fiction|Thriller,6.5,150000000,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Universal Studios|Amblin Entertainment|Legenda...,2015,1513528810,Colin Trevorrow,1363528810
1,120,5/13/2015,1392190,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,7.1,150000000,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Village Roadshow Pictures|Kennedy Miller Produ...,2015,378436354,George Miller,228436354
2,119,3/18/2015,\r\ntt2908446,Insurgent,Adventure|Science Fiction|Thriller,6.3,110000000,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Summit Entertainment|Mandeville Films|Red Wago...,2015,295238201,Robert Schwentke,185238201
3,137,4/1/2015,2488496,Star Wars: The Force Awakens,Action|Crime|Thriller,7.3,200000000,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Universal Pictures|Original Film|Media Rights ...,2015,2068178225,geance Hits Home,1868178225
4,136,12/15/2015,1663202,The Revenant,Action|Adventure|Science Fiction|Fantasy,7.5,135000000,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Lucasfilm|Truenorth Productions|Bad Robot,2015,532950503,AlejandroJ.J. Abrams,397950503
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1878,104,7/13/2000,0120903,X-Men,Adventure|Action|Science Fiction,6.6,75000000,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Twentieth Century Fox Film Corporation|Donners...,2000,157299717,Bryan Singer,82299717
1879,95,10/27/2000,0192255,The Little Vampire,Horror|Family|Foreign,6.4,22000000,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,New Line Cinema,2000,13555988,Uli Edel,-8444012
1880,88,6/30/2000,0131704,The Adventures of Rocky & Bullwinkle,Adventure|Animation|Action|Comedy|Family,4.0,76000000,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Universal Pictures|Capella International|KC Me...,2000,35134820,Des McAnuff,-40865180
1881,94,2/16/2000,0162983,Hanging Up,Comedy|Drama,5.2,40000000,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Laurence Mark Productions|Columbia Pictures Co...,2000,36037909,Diane Keaton,-3962091
1882,105,7/19/2000,0163676,The In Crowd,Thriller,5.2,15000000,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Warner Bros. Pictures,2000,5217498,Mary Lambert,-9782502

In [466]:
#27. Какие актеры чаще всего снимаются в одном фильме вместе?
df1 =df[['cast']].apply(lambda x: x.str.split('|').explode())
df1

                     cast
0             Chris Pratt
0     Bryce Dallas Howard
0             Irrfan Khan
0       Vincent D'Onofrio
0           Nick Robinson
...                   ...
1882           Susan Ward
1882         Lori Heuring
1882       Matthew Settle
1882        Nathan Bexton
1882          Tess Harper

[9401 rows x 1 columns]

In [455]:
df[['production_companies']].apply(lambda x: x.str.split('|').explode()).production_companies.to_frame().join(df['original_title'].apply(lambda x: len(x.split(' ')))).groupby('production_companies').mean().sort_values(by='original_title').tail(1)

                         original_title
production_companies
Four By Two Productions            12.0

In [369]:

df1.cast[(df1.cast == arg)].to_frame().join(df2.genres).value_counts().head(1)

6     147
11    146
7     142
Name: release_date, dtype: int64

runtime                                                               138
release_date                                                    7/19/2002
imdb_id                                                           0267626
original_title                                       K-19: The Widowmaker
genres                                             Thriller|Drama|History
vote_average                                                          6.0
budget                                                          100000000
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
production_companies    Paramount Pictures|Intermedia Films|National G...
release_year                                                         2002
revenue                                                          35168966
director                                                  Kathryn Bigelow
profit                                                          -64831034
Name: 920, dtype: object